# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de pruebas
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Archivos de Jupyter
.ipynb_checkpoints

# Otros
*.bak